.contact-link {
  color: white;
}
.contact-link:hover {
    color: gainsboro;
  }
.contact-card-bg {
  background-color: #006581 !important;
}
.contact-bg {
  background-image: url("../../images/beachBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.facebook-link {
  max-height: 50px;
}
